/* Evitar que les imatges es trenquin entre pàgines */
img {
  page-break-inside: avoid;
  break-inside: avoid;
}

/* Evitar que les admonitions es trenquin */
.admonition, /* classe típica d’admonitions */
.block-admonition {
  page-break-inside: avoid;
  break-inside: avoid;
  page-break-before: auto;
  page-break-after: auto;
}
